<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ORGANIZATIONNAME</key>
    <string>Mantel Group pty ltd</string>
    <key>FILEHEADER</key>
    <string> Technical exercise, ___ORGANIZATIONNAME___.
// Created on ___DATE___.</string>
</dict>
</plist>
